</main>

<footer>

  <% 
  function year() {
    let currentDate = new Date();
    let currentYear = currentDate.getFullYear();
    return currentYear;
  }
  %>
  <p>Copyright © <%= year() %> SimpleThinking Frontend</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/index.js"></script>

</body>


</html>