<%- include("partials/header.ejs") %>

<div class="main-container">

    <div class="logo-container">

        <div class="company-container">
            <a href="https://www.instagram.com" target="_blank">
                <img src="/images/logo.jpg" alt="Instagram Logo">
            </a>
        </div>

        <div class="socialmedia-container">
            <a href="https://www.instagram.com/zar_candles_sisters/" target="_blank">
                <img src="/images/instagram.png" alt="Instagram Logo">
            </a>
        </div>       
    </div>

    <div class="baner-container">

        <div class="baner-container-text">

            <h1>Hello!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto ipsum sint enim nisi atque voluptate explicabo sit doloribus</p>

        </div>

        <div class="baner-container-photo">
            <a href="https://www.instagram.com/zar_candles_sisters/" target="_blank">
                <img src="/images/portret.jpg" alt="Instagram Logo">
            </a>
        </div>

    </div>

    <div class="product-container">
        <div class="candles-photo-container">
            <div class="swiper mySwiper main-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" id="candleOne">
                    <a href="https://www.instagram.com/zar_candles_sisters/" target="_blank">
                        <img src="/images/candles_one.png" alt="Instagram Logo">
                    </a>
                  </div>
                  <div class="swiper-slide" id="candleTwo">
                    <a href="https://www.instagram.com/zar_candles_sisters/" target="_blank">
                        <img src="/images/candles_two.png" alt="Instagram Logo">
                    </a>
                  </div>
                  <div class="swiper-slide" id="candleThree">
                    <a href="https://www.instagram.com/zar_candles_sisters/" target="_blank">
                        <img src="/images/candles_three.png" alt="Instagram Logo" >
                    </a>
                  </div>
                  
                </div>
              </div>
        </div>
    
        <div class="candles-description-container">
            <h3 id="headTitle">Candle X</h3>
            <p id="candleDescr">Description for Candle X</p>
        </div>
    </div>
    

    <div class="order-container">

        <h2>Order something from us!</h2>

        <div class="form-container">

            <form action="#" method="post">

                    <div class="inputs-container">
                        <div class="formvalue-container">
                            <input type="email" id="email" name="email" placeholder="E-mail" required>
                            <input type="text" id="name" name="name" placeholder="What's your name?" required>
                        </div>
                        
                        <div class="candlevalue-container">
                            <div class="candle">
                                <label for="candleX">Candle X:</label>
                                <input type="number" id="candleX" value="0" min="1">
                            </div>
                            <div class="candle">
                                <label for="candleY">Candle Y:</label>
                                <input type="number" id="candleY" value="0" min="0">
                            </div>
                            <div class="candle">
                                <label for="candleZ">Candle Z:</label>
                                <input type="number" id="candleZ" value="0" min="0">
                            </div>
                            <div class="candle">
                                <label for="candleA">Candle A:</label>
                                <input type="number" id="candleA" value="0" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="candlebutton-container">
                        <button type="submit">SUBMIT</button>
                    </div>
            </form>
        </div>

    </div>

</div>

<%- include("partials/footer.ejs") %>